html, body{
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    height: 80px;
    background-color: #2b2b2b;
    padding-left: 10px;
    padding-right: 10px;
}

.logo{
    width: 200px;
    float: left;
    padding-top: 30px;
    padding-left: 15px;
    color: white;
}

.nav{
    width: 550px;
    height: 50px;
    float: right;
}

.nav ul{
    list-style: none;
}
.nav li{
    float: left;
    height: 26px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 25px;   
    color: white;
}

.thumbnail{
    width: 100%;
    height: 150px;
    background-image: url(../assets/bora-bora.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.bora{
    width: 100%;
    height: 150px;
    background-image: url(../assets/bora-bora.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.py{
    width: 100%;
    height: 150px;
    background-image: url(../assets/pyongyang.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.miami{
    width: 100%;
    height: 150px;
    background-image: url(../assets/miami.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.paris{
    width: 100%;
    height: 150px;
    background-image: url(../assets/paris.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.col-box{
    width: 100%;
    height: 350px;
    text-align: center;
    margin-top: 25px;
}

.content{
    width: 100%;
    height: 20px;
    margin-top: 50px;
    font-family: sans-serif;
    padding-top: 160px;
}

.button-group{
    width: 400px;
    height: 50px;
}
.button{
    width: 307px;
    height: 40px;
    text-align: center;
    padding-top: 7px;
    font-weight: bold;
    float: left;
    margin-top: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.normal{
    background-color: #2b2b2b;
    color: #ffffff;
}
.inverted{
    border: 2px solid #2b2b2b;
    padding-top: 5px !important;
}